{% extends "polls/struct.html" %}
{% block content %}

	<h1> {{room}} </h1>

	<div>
		<form action="{% url 'polls:book_screen' room.id %}" method="post">
			{% csrf_token %}

			<label> Roll No. </label> <br>
			<input type="text" name="rno">
			<br><br>
			<label> Booking Start Time 
			in this format 'YYYY-MM-DD HH:MM'
			</label><br>
			<input type="text" name="start_tm">
			<br><br>
			<input type="submit" value="Book">
		</form>
	</div>

	<br>
	<div>
		{% if errormsg %} <p> <strong> Error: {{errormsg}} </strong> </p>
		{% endif %}

		{% if booking_info %}
		Booking Done!
		{{booking_info}}

		{% endif %}
	</div>
{% endblock %}