{% extends "base.html" %}
{% block content %}

	<h1> Booking: {{room}}  </h1>
 
	<div>
		<form action="{% url 'polls:book_screen' room.id %}" method="post">
			{% csrf_token %}

			<label> Your email: </label>
			<label> {{user.email}} </label>
			<br>
			<input type="hidden" value="{{user.email}}" name="rno" />
			<label> Please enter Booking Start Time 
			in this format 'YYYY-MM-DD HH:MM'
			</label><br>
			<input type="text" name="start_tm">
			<br><br>
			<input type="submit" value="Book">
		</form>
	</div>

	<br>
	<div>
		{% if errormsg %} <p> <strong> Error: {{errormsg}} </strong> </p>
		{% endif %}

		{% if booking_info %}
		Booking Done!
		{{booking_info}}

		{% endif %}
	</div>
{% endblock %}